@{
    ViewBag.Title = "聯絡方式";
}
<h2>@ViewBag.Title.</h2>

<address>
    OX股份有限公司<br />
    台北市松山區<br />
    電話:(02)22221111
</address>

<address>
    <strong>客服信箱:</strong>   <a href="mailto:service@example.com">service@example.com</a><br />
</address>